<!DOCTYPE html>
<html>
<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-10DJCVYJB4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-10DJCVYJB4');
</script>
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/css/postmaster.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <h1 id="header">{{ title }}</h1>
    <p class="post-date">
  Published on {{ page.date | date: "%B %d, %Y" }} by CP
</p>
        <main id="entries">
    

    {{ content }}
  </main>

  <footer id="footer">
    <a href="/blog/">Back to Blog</a>
  </footer>

</body>
</html>